<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - loaders - OBJ loader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>
	</head>

	<body>
		<div id="info">
		Cranial Visualization test <br /><br />
		press C: visualize mean curvature 
		</div>
		<div id="buttons">
			<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
		</div>
		<script type='text/javascript' >
            var firstFileName = '';
		</script>
		<script src="js/three.js"></script>
		<script src="js/OBJLoader.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/stage.js"></script>
		<script src="js/curvature.js"></script>
		<script src="js/Lut.js"></script>
		<script src="js/util.js"></script>
		<script>

			init();
			animate();

		</script>

	</body>
</html>
